@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: #FFF;
    height: 8vh;
    width: 100vw;
    z-index: 1;
}

a.logo {
    color: #000;
    font-size: 2em;
    line-height: 8vh;
    margin: 0px 10vw;
    font-weight: bold;
}

.search {
    color: #000;
    font-size: 1.4em;
    margin: 0px 10vw;
    line-height: 8.5vh;
}

nav ul {
    font-size: 1.2em;
    list-style: none;
}

nav li {
    display: inline-block;
    line-height: 8vh;
    margin: 0px 15px;
}

nav a {
    text-decoration: none;
    color: #000;
}

a.logo:hover, nav a:hover {
    color: #257;
}

#start {
    border: 1px solid #000;
    margin: 0 10vw;
    height: 100vh;
}

#start a {
    color: #FFF;
}

#start .title {
    margin-top: 35vh;
    font-size: 3em;
    left: 20px;
    color: #257;
}

#start .start_intro {
    margin-top: 4vh;
    font-size: 1.em;
    width: 50%;
}

#start .buttom_down {
    margin-top: 2vh;
    background: #257;
    width: 5vw;
    height: 4vh;
    border-radius: 4vh;
    cursor: pointer;
}

#content {
    border: 1px solid #000;
    margin: 0 10vw;
    height: 100vh;
}

#content div {
    margin-top: 8vh;
    border: 1px solid #000;
    display: block;
}

#content h1 {
    margin-bottom: 3vh;
    text-align: center;
    font-size: 2em;
    color: #257;
}

#content p {
    margin-bottom: 5px;
    width: 45%;
}

#content img {
    border: 1px solid #000;
}

.checkbtn {
    font-size: 2em;
    color: #257;
    line-height: 8vh;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 1100px) {
    nav ul {
        display: none
    };
}

@media (min-width: 600px) {
    #content p {
        color: red;
    }
}