@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: #FFF;
    height: 8vh;
    width: 100vw;
    z-index: 1;
}

.logo {
    color: #000;
    font-size: 2em;
    line-height: 8vh;
    margin: 0px 10vw;
    font-weight: bold;
}

.search {
    color: #000;
    font-size: 1.4em;
    margin: 0px 10vw;
    line-height: 8.5vh;
}

nav ul {
    font-size: 1.2em;
    list-style: none;
}

nav li {
    display: inline-block;
    line-height: 8vh;
    margin: 0px 15px;
}

nav a {
    text-decoration: none;
    color: #000;
}

a.logo:hover, nav a:hover {
    color: #257;
}

#start {
    border: 1px solid #FFF;
    margin: 0 10vw;
    height: 100vh;
}

#start a {
    color: #FFF;
}

#start .title {
    margin-top: 35vh;
    font-size: 3em;
    left: 20px;
    color: #257;
}

#start .start_intro {
    margin-top: 4vh;
    font-size: 1.em;
    width: 50%;
}

#start .buttom_down {
    margin-top: 2vh;
    background: #257;
    width: 5vw;
    height: 4vh;
    border-radius: 4vh;
    cursor: pointer;
}

#content {
    border: 1px solid #000;
    margin: 0 10vw;
}

#content h1 {
    margin: 5vh 0;
    font-size: 2em;
    color: #257;
    margin-top: 10vh;
}

#content p {
    margin-bottom: 5px;
    width: 45%;
}

.fonte_title {
    text-align: center;
}

.fonte_img a {
    text-decoration: none;
    display: inline-block;
    width: 18vw;
    height: 36vh;
    background: #257;
    border-radius: 1.5em;
}

.fonte_img a:hover {
    opacity: .8;
    transition: .4s;
}

.fonte_img img {
    justify-content: space-between;
}

.tipos_energy {
    border: 1px solid #000;
    margin: 0 10vw;
    height: 2000px;
}

.tipos_energy h1 {
    margin: 5vh 0;
    font-size: 2em;
    color: #257;
    margin-top: 10vh;
}

.tipos_energy p {
    margin-bottom: 5px;
    width: 45%;
}

.tipos_energy div > img {
    background-color: #257;
    width: 100px;
    height: 100px;
}

.checkbtn {
    font-size: 2em;
    color: #257;
    line-height: 8vh;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 500px) {
    .logo {
        color: aqua;
    }

    #start .start_intro {
        width: 100%;
    }

    #content p {
        width: 100%;
    }

    .fonte_img a{
        display: block;
        width: 100%;
        height: 10vh;
        margin-bottom: 2vw;
        border-radius: 4em;
    }

    #start .buttom_down {
        width: 10vw;
    }
}


@media (max-width: 1100px) {
    nav ul {
        display: none
    };

    .logo {
        color: red;
    }
}

@media (min-width: 1300px) {
    .logo {
        color: blue;
    }

    .fonte_img a {
        height: 45vh;
    }
}

@media (min-width: 1600px) {
    .logo {
        color: yellow;
    }

    .fonte_img a {
        height: 50vh;
        width: 15vw;
    }

    .fonte_title {
        border-top: 20vh;
    }
}